{% extends "main/base.html" %}
{% load article %}

{% block title %} Your Profile {% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags == 'success' %} class="success-message"{% elif message.tags == 'error' %}
                                                      class="error-message"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Your Profile</h1>
    <div>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        {% if topics %}
            {% for topic in topics %}
                <p> Topic: {{ topic.title }}</p>
            {% endfor %}
        {% else %}
            <p>You haven't subscribed to any topic yet.</p>
        {% endif %}
    </div>
    <div>
        {% if articles %}
            {% for article in articles %}
                {% render_article article %}
            {% endfor %}
        {% else %}
            <p> You haven't created any articles yet. </p>
            <p> Feel inspired? <a href="{% url 'main:create_article' %}">Create a new article right now!</a></p>
        {% endif %}
    </div>

    <div class="link-button"><a href="{% url 'main:set_userdata' user.pk %}">Update Profile</a></div>
    <div class="link-button"><a href="{% url 'main:set_password' user.pk %}">Change Password</a></div>
    <div class="link-button"><a href="{% url 'main:deactivate_profile' user.pk %}">Delete Account</a></div>

{% endblock %}
