{% extends "main/base.html" %}

{% block title %} Set Password {% endblock %}

{% block content %}
    <h1>Set New Password</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="old_password">Old password:</label>
        <input type="password" id="old_password" name="old_password" required><br>

        <label for="password">New password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Set New Password">
    </form>

{% endblock %}
