{% extends "main/base.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags == 'success' %} class="success-message"{% elif message.tags == 'error' %}
                                                      class="error-message"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change password</button>
    </form>
{% endblock %}
