{% extends "main/base.html" %}


{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p class="date">
        Published {{ article.created_at }} by {{ article.author }}
    </p>
    <p>
        {{ article.content | safe }}
    </p>


    <h2>Comments:</h2>
    <br/>
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.author }}
                <br/>
                {{ comment.created_at }}
            </p>
            {{ comment.message|linebreaks }}
            <br/>
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
{% endblock %}
