{% extends "main/base.html" %}

{% block title %}Django Blog{% endblock %}

{% block content %}
    <h1>Django Blog</h1>
    {% for article in articles %}
        <h2>
            <a href="{{ article.get_absolute_url }}">
                {{ article.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ article.created_at }} by {{ article.author }}
        </p>
        {{ article.content|truncatewords:30|linebreaks }}
    {% endfor %}
    {% include "pagination.html" with page=articles %}
{% endblock %}
