{% extends "main/base.html" %}

{% block title %}Topics{% endblock %}

{% block content %}
    <h2>Topics</h2>
    <ul>
        <li><a href="">Technology Trends</a></li>
        <li><a href="">Web Development</a></li>
        <li><a href="">Data Science</a></li>
        <li><a href="">Cybersecurity</a></li>
        <li><a href="">Mobile App Development</a></li>
        <li><a href="">Cloud Computing</a></li>
        <li><a href="">UX/UI Design</a></li>
        <li><a href="">DevOps</a></li>
        <li><a href="">Agile Methodology</a></li>
        <li><a href="">Internet of Things (IoT)</a></li>
    </ul>

{% endblock %}
