ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: powderblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkcyan;
}

body {
    margin: 0;
    padding-bottom: 16px;
    font-family: Arial, sans-serif;
}

header {
    background-color: mediumseagreen; /* Green background color */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

nav {
    /*display: flex;*/
    justify-content: center;
    height: available;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 20px;
    transition: color 0.3s; /* Smooth color transition on hover */
}

nav a:hover {
    color: #333; /* Change text color on hover */
}

/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: helvetica, sans-serif;*/
/*}*/

a {
    color: #00abff;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    /*border-bottom: 1px solid #bbb;*/
    /*padding: 0 0 10px 0;*/
}

h2 {
    font-weight: normal;
    margin: 30px 0 0;
}

.content {
    padding: 0 0 0 30px;
}

#left {
    width: 70%;
    float: left;
    padding-bottom: 16rem;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

}

.sidenav {
    /*height: 100%; !* Full-height: remove this if you want "auto" height *!*/
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /*top: 0; !* Stay at the top *!*/
    right: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    float: right;
}

/* The navigation menu links */
.sidenav a {
    color: #00abff;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #333;
}

p.date {
    color: darkslategray;
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin: 80px 40px;
    font-weight: bold;
    text-align: left;
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*align-items: center;*/
}

/* forms */
label {
    display: flex;
    /*flex-direction: column;*/
    /*flex-wrap: nowrap;*/
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input, textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
}

input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

.comments {
    padding: 16px;
    margin: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.comment-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: mediumseagreen;
    color: white;
    text-align: center;
}

/*#right {*/
/*    float: right;*/
/*    width: 30%; !* Adjust this width to your preference *!*/
/*    margin-right: 20px; !* Add margin to separate it from other content *!*/
/*    padding: 10px; !* Add padding for spacing inside the container *!*/
/*    margin-bottom: 5px;*/
/*}*/

#right.sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 20%;
}

.search-form {
    margin-bottom: 10px; /* Add spacing between the search form and topics list */
}

.topics-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.success-message {
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    padding: 20px; /* Padding around the message */
    border: 1px solid #45a049; /* Green border */
    margin: 20px;
    list-style: none;
}

.error-message {
    background-color: #f44336; /* Red background color */
    color: #fff; /* White text color */
    padding: 20px; /* Padding around the message */
    border: 1px solid #d32f2f; /* Red border */
    list-style: none;
    margin: 20px;
}

.link-button a:link {
    text-decoration: none;
    background-color: green;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    color: white;
}

.link-button a:hover {
    text-decoration: underline;
    background-color: lightgreen;
}
